@page "/Pages/WeighterScope/Prihod/KorrPrihod"
@using BosVesUI.Shared.Components
@using FastReport
@using FastReport.Export.PdfSimple
@using NetcodeHub.Packages.Components.Modal
@using System.Globalization
@using Newtonsoft.Json.Linq

@inject IJSRuntime JS;
@inject GpriData gpridata;
@inject ILogger<KorrPrihod> logger;
@inject BruttoAsTaraData bruttoAsTara;
@inject TaraPodstanovkaData taraPodstanovka;
@inject VagonsService vagonService;
@inject NavigationManager navManager;
@inject IWebHostEnvironment WebHostEnvironment;
@inject IHttpClientFactory HttpClientFactory
@inject ProtectedLocalStorage Protected

<div class="align-content-center">
    <h3>Pattern COMMANDER</h3>
</div>

<div class="row justify-content-center">
    <div class=" col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11 form-layout">

        <div class="close-button-section mb-1">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>

        @* Поля ввода для фильтров - начало *@
        <div class="row justify-content-center">

            <div class="col-auto mb-2">
                <div class="input-group">
                    <span class="input-group-text input-corners-right">Дата взвешивания</span>
                    <input id="idDT" class="form-control input-corners-left" @bind="FormattedDate" @bind:event="oninput" />
                </div>
            </div>

            <div class="col-auto mb-2">
                <div class="input-group">
                    <span class="input-group-text input-corners-right">Время взвешивания</span>
                    <InputDate Type="InputDateType.Time" @bind-Value:format="hh:mm:ss" @bind-Value="@inVr" id="VR" step="1" class="form-control input-corners-left" />
                </div>
            </div>

            <div class="col-auto mb-2">
                <div class="input-group">
                    <span class="input-group-text input-corners-right">Номер вагона</span>
                    <InputText @bind-Value="@inNvag" id="NVAG" class="form-control input-corners-left" />
                </div>
            </div>

            <div class="col-auto mb-2">
                <div class="text-end">
                    <button type="button" class="btn btn-primary position-relative" @onclick="GetByDtVr">Показать</button>
                </div> 
            </div>

        </div>
        @* Поля ввода для фильтров - окончание *@
         
        @* Таблица - начало *@
        <div class="row d-flex justify-content-center mb-2 form-control" style="max-width: 95vw; margin-left:5px;">
            <div class="col-auto" style="padding-left:1px; padding-right:1px;">
                
                <div class="text-center">
                    <span style="font-size: 140%; font-style: italic;">Данные из базы данных предприятия</span>
                </div>

                @if (listVags == null)
                {
                    <div class="scrollable-table">
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    @foreach (var vp in GridCaptionHelper.GpriGridChapters.Values)
                                    {
                                        <th> @vp </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <tr>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td>  </td>
                                        <td> 0 </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="scrollable-table">
                        <table class="table-bordered">
                            <thead>
                                <tr>
                                    @foreach (var vp in GridCaptionHelper.GpriGridChapters.Values)
                                    {
                                        <th> @vp </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listVags)
                                {
                                    <tr @onclick="() => OnRowClick(item.ID)" class="@GetRowClass(item.ID)">
                                        <td style="text-align:center; vertical-align:middle; max-width:14px;">
                                            <input type="checkbox" />
                                        </td>
                                        <td> @item.DT.ToShortDateString() </td>
                                        <td> @item.VR.ToString(@"hh\:mm\:ss") </td>
                                        <td> @item.NVAG </td>
                                        <td> @item.NDOK </td>
                                        <td> @item.ID </td>
                                        <td> @item.GRUZ </td>
                                        <td> @item.BRUTTO </td>
                                        <td> @item.TAR_BRS </td>
                                        <td> @item.TAR_DOK </td>
                                        <td> @item.NETTO </td>
                                        <td> @item.NET_DOK </td>
                                        <td> @item.MUSOR </td>
                                        <td> @item.CEX </td>
                                        <td> @item.TARIF </td>
                                        <td> @item.POTR </td>
                                        <td> @item.PLAT </td>
                                        <td> @item.SKOR </td>
                                        <td> @item.VESY </td>
                                        <td> @item.TN </td>
                                        <td> @item.NPP </td>
                                        <td> @item.V13 </td>
                                        <td> @item.V24 </td>
                                        <td> @item.V12 </td>
                                        <td> @item.V34 </td>
                                        <td> @item.PP </td>
                                        <td> @item.PR </td>
                                        <td> @item.DELTA </td>
                                        <td> @item.N_TEPLOVOZ </td>
                                        <td> @item.POGRESHNOST </td>
                                        <td> @item.REJVZVESH </td>
                                        <td> @item.PLATFORMS_TARA </td>
                                        <td> @item.PLATFORMS_BRUTTO </td>
                                        <td> @item.ID_PLATFORMS </td>
                                        <td> @item.SHABLON </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        @* Таблица - окончание *@

        @* Блок полей для корректировки - начало *@
        <div class="row mb-2" style="max-width: 95vw; margin-left:5px;">
            <EditForm Model="vagon" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                
                <div class="row d-flex justify-content-center korr-inputs-area">
                    
                    @* первый блок начало *@
                    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3">

                        @* 1 vagon.DT *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text">Дата взвешивания</span>
                                <InputDate Type="InputDateType.Date" @bind-Value="@vagon.DT" id="idDT" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.DT)" />
                        </div>

                        @* 2 vagon.VR *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text">Время взвешивания</span>
                                <InputTime id="VR"
                                           step="1"
                                           class="form-control"
                                           @bind-Value="@vagon.VR"
                                           @bind-Value:format="HH:mm:ss" />
                            </div>
                        </div>

                        @* 3 vagon.NVAG *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text">Номер вагона</span>
                                <InputText @bind-Value="@vagon.NVAG" id="NVAG" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.NVAG)" />
                        </div>

                        @* 4 vagon.NDOK *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text">Номер докум.</span>
                                <input @bind="DecimalValue" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.NDOK)" />
                        </div>

                        @* 5 vagon.GRUZ *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Груз</span>
                                <InputText @bind-Value="@vagon.GRUZ" id="GRUZ" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.GRUZ)" />
                        </div>

                    </div>
                    @* первый блок окончание *@

                    @* второй блок начало *@
                    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3">

                        @* 6 vagon.BRUTTO *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Брутто</span>
                                <InputNumber @bind-Value="@vagon.BRUTTO" id="BRUTTO" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.BRUTTO)" />
                        </div>

                        @* 7 vagon.TAR_BRS *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Тара брус</span>
                                <InputNumber @bind-Value="@vagon.TAR_BRS" id="TAR_BRS" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.TAR_BRS)" />
                        </div>

                        @* 8 vagon.TAR_DOK *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Тара докум.</span>
                                <InputNumber @bind-Value="@vagon.TAR_DOK" id="TAR_DOK" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.TAR_DOK)" />
                        </div>

                        @* 9 vagon.NETTO *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Нетто</span>
                                <InputNumber @bind-Value="@vagon.NETTO" id="NETTO" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.NETTO)" />
                        </div>

                        @* 10 vagon.NET_DOK *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Нетто докум.</span>
                                <InputNumber @bind-Value="@vagon.NET_DOK" id="NET_DOK" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.NET_DOK)" />
                        </div>

                    </div>
                    @* второй блок окончание *@

                    @* третий блок начало *@
                    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3">

                        @* 11 vagon.MUSOR *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Мусор</span>
                                <InputNumber @bind-Value="@vagon.MUSOR" id="MUSOR" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.MUSOR)" />
                        </div>

                        @* 12 vagon.CEX *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text">Цех</span>
                                <div class="input-group-text">
                                    <input type="checkbox" checked="@isCheckedCexList" @oninput="GetListCex" />
                                </div>
                                <InputNumber @bind-Value="@vagon.CEX" id="CEX" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.CEX)" />
                        </div>

                        @* 13 vagon.TARIF *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Тариф</span>
                                <InputNumber @bind-Value="@vagon.TARIF" id="TARIF" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.TARIF)" />
                        </div>

                        @* 14 vagon.POTR *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Потребитель</span>
                                <InputText @bind-Value="vagon.POTR" id="POTR" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.POTR)" />
                        </div>

                        @* 15 vagon.PLAT *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Плательщик</span>
                                <InputText @bind-Value="vagon.PLAT" id="PLAT" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.PLAT)" />
                        </div>

                    </div>
                    @* третий блок окончание *@

                    @* четвёртый блок начало *@
                    <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5 col-xxl-3">

                        @* 16 vagon.TN *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Таб. ном.</span>
                                <InputNumber @bind-Value="vagon.TN" id="TN" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.TN)" />
                        </div>

                        @* 17 vagon.N_TEPLOVOZ *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Ном. тепл</span>
                                <InputText @bind-Value="vagon.N_TEPLOVOZ" id="N_TEPLOVOZ" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.N_TEPLOVOZ)" />
                        </div>

                        @* 18 vagon.POGRESHNOST *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Погрешность</span>
                                <InputNumber @bind-Value="vagon.POGRESHNOST" id="POGRESHNOST" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.POGRESHNOST)" />
                        </div>

                        @* 19 vagon.REJVZVESH *@
                        <div class="col-auto mb-1">
                            <div class="input-group input-group-min-width">
                                <span class="input-group-text span-input-chapter-with">Реж. взвеш.</span>
                                <InputText @bind-Value="vagon.REJVZVESH" type="text" id="REJVZVESH" class="form-control" />
                            </div>
                            <ValidationMessage For="@(() => vagon.REJVZVESH)" />
                        </div>

                       
                    @*-------------------*@

                        <div class="col-auto mb-1">
                            <div class="button-row">
                                
                                    <button type="button"
                                            class="ios-button ios-button-save"
                                            @onclick="InsVag"
                                            disabled="@isSaving">
                                        @if (isSaving)
                                        {
                                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                            <span>Запись...</span>
                                        }
                                        else
                                        {
                                            <span>Записать</span>
                                        }
                                    </button>

                                    <button type="button"
                                            class="ios-button ios-button-delete"
                                            @onclick="CleanModels"
                                            disabled="@isDeleting">
                                        @if (isDeleting)
                                        {
                                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                            <span>Удаление...</span>
                                        }
                                        else
                                        {
                                            <span>Стереть</span>
                                        }
                                    </button>
                                </div>

                        </div>

                    </div>
                    @* четвёртый блок окончание *@
                </div>
            </EditForm>
        </div>
        @* Блок полей для корректировки - окончание *@

        @* Модальное окошко "Подстановка брутто как тары" начало *@
        <Modal Actions="ButtonGetBruttoAsTaraActions"
               BootstrapClass="border-dark"
               CustomStyle="width:600px"
               @bind-Open="IsOpenBrAsTar">

            <ContentContent>
                <div class="row">
                    @* Блок для фильтрации по дате. Номер вагона изменять нельзя. Начало. *@
                    <div class="col">
                        <div class="form-group row">
                            <label for="DTBEGIN" class="col col-form-label">Дата начало</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTBEGIN" id="idDTBEGIN" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label for="DTEND" class="col col-form-label">Дата окончания</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTEND" id="idDTEND" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" @onclick="GetBruttoAsTaraClick">Показать</button>
                    @*  Блок для фильтрации по дате. Номер вагона изменять нельзя. Окончание. *@
                </div>

                @* Таблица - начало *@
                <div class="table-responsive">
                    <div style="width:fit-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @foreach (var vp in GridCaptionHelper.BruttoAsTaraChapters.Values)
                                    {
                                        <th> @vp </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (listBruttoAsTara is not null)
                                {
                                    @foreach (var item in listBruttoAsTara)
                                    {
                                        <tr @onclick="() => OnRowGetBruttoAsTaraClick(item.ID)" class="@GetRowClassBruttoAsTara(item.ID)">
                                            <td> @item.DT.ToShortDateString() </td>
                                            <td> @item.VR.ToString(@"hh\:mm\:ss") </td>
                                            <td> @item.NVAG </td>
                                            <td> @item.GRUZ </td>
                                            <td> @item.BRUTTO </td>
                                            <td> @item.TAR_BRS </td>
                                            <td> @item.TAR_DOK </td>
                                            <td> @item.NETTO </td>
                                            <td> @item.NET_DOK </td>
                                            <td> @item.CEX </td>
                                            <td> @item.POTR </td>
                                            <td> @item.VESY </td>
                                            <td> @item.TN </td>
                                            <td> @item.NPP </td>
                                            <td> @item.ID </td>
                                            <td> @item.NAIM </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @* Таблица - окончание *@
            </ContentContent>

            <ButtonTemplate>
                <div class="d-flex justify-content-center align-content-center">
                    <button class="btn btn-success btn-sm" value="ok" style="margin-right:5px">Взять вес</button>
                    <button class="btn btn-danger btn-sm" value="cancel">Отмена</button>
                </div>
            </ButtonTemplate>

        </Modal>
        @* Модальное окошко "Подстановка брутто как тары" окончание *@

        @* Модальное окошко "Подстановка тары" начало *@
        <Modal Actions="ButtonGetTaraActions"
               BootstrapClass="border-dark"
               CustomStyle="width:600px"
               @bind-Open="IsOpenTara">

            <ContentContent>
                <div class="row">
                    @* Блок для фильтрации по дате. Номер вагона изменять нельзя. Начало. *@
                    <div class="col">
                        <div class="form-group row">
                            <label for="idDTBEGINtara" class="col col-form-label">Дата начало</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTBEGINtara" id="idDTBEGINtara" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label for="idDTENDtara" class="col col-form-label">Дата окончания</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTENDtara" id="idDTENDtara" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" @onclick="GetTaraClick">Показать</button>
                    @*  Блок для фильтрации по дате. Номер вагона изменять нельзя. Окончание. *@
                </div>

                @* Таблица - начало *@
                <div class="table-responsive">
                    <div style="width:fit-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @foreach (var vp in GridCaptionHelper.TaraChapters.Values)
                                    {
                                        <th> @vp </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (listTara is not null)
                                {
                                    @foreach (var item in listTara) //
                                    {
                                        <tr @onclick="() => OnRowGetTaraClick(item.ID)" class="@GetRowClassTara(item.ID)">
                                            <td> @item.DT.ToShortDateString() </td>
                                            <td> @item.VR.ToString(@"hh\:mm\:ss") </td>
                                            <td> @item.NVAG </td>
                                            <td> @item.BRUTTO </td>
                                            <td> @item.TAR_BRS </td>
                                            <td> @item.NETTO </td>
                                            <td> @item.GRUZ </td>
                                            <td> @item.VESY </td>
                                            <td> @item.ID </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @* Таблица - окончание *@
            </ContentContent>

            <ButtonTemplate>
                <div class="d-flex justify-content-center align-content-center">
                    <button class="btn btn-success btn-sm" value="ok" style="margin-right:5px">Взять вес</button>
                    <button class="btn btn-danger btn-sm" value="cancel">Отмена</button>
                </div>
            </ButtonTemplate>

        </Modal>
        @* Модальное окошко "Подстановка тары" окончание *@

        @* Модальное окошко "Взять цех" начало *@
        <Modal Actions="ButtonGetCexActions"
               BootstrapClass="border-dark"
               CustomStyle="width:600px"
               @bind-Open="IsOpenGetCex">

            <ContentContent>
                <div class="row">
                    @* Блок для поиска по имени/номеру. Начало. *@
                    <div class="col">
                        <div class="form-group row">
                            <label for="DTBEGIN" class="col col-form-label">Дата начало</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTBEGIN" id="idDTBEGIN" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label for="DTEND" class="col col-form-label">Дата окончания</label>
                            <div class="col">
                                <InputDate Type="InputDateType.Date" @bind-Value="@inDTEND" id="idDTEND" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" @onclick="GetCexClick">Показать</button>
                    @*  Блок для поиска по имени/номеру. Окончание. *@
                </div>

                @* Таблица - начало *@
                <div class="table-responsive">
                    <div style="width:fit-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @foreach (var vp in GridCaptionHelper.CexChapters.Values)
                                    {
                                        <th> @vp </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (listBruttoAsTara is not null)
                                {
                                    @foreach (var item in listBruttoAsTara)
                                    {
                                        <tr @onclick="() => OnRowGetCexClick(item.CEX)" class="@GetRowClassCex(item.CEX)">
                                            <td> @item.CEX </td>
                                            <td> @item.NAIM </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @* Таблица - окончание *@
            </ContentContent>

            <ButtonTemplate>
                <div class="d-flex justify-content-center align-content-center">
                    <button class="btn btn-success btn-sm" value="ok" style="margin-right:5px">Взять цех</button>
                    <button class="btn btn-danger btn-sm" value="cancel">Отмена</button>
                </div>
            </ButtonTemplate>

        </Modal>
        @* Модальное окошко "Взять цех" окончание *@
        
        @*----------------------------------------------------------------------------*@
      @*   <div>
            <button class="btn btn-primary mb-1" @onclick="GenerateAndDownloadReport">Скачать отчет PDF</button>
        </div> *@
        @*----------------------------------------------------------------------------*@

        @*----------------------------------------------------------------------------*@
      @*   <div>
            <button class="btn btn-primary mb-1" @onclick="GenerateAndShowReport">Показать отчет PDF</button>
        </div> *@

        @if (!string.IsNullOrEmpty(PdfUrl))
        {
            @* <div class="row form-control">
                <iframe src="@PdfUrl" width="100%" height="600px" frameborder="0"></iframe>
            </div> *@
        }
        @*----------------------------------------------------------------------------*@

        @*----------------------------------------------------------------------------*@
        @* <button class="btn btn-primary mb-1" @onclick="OpenReport">Печать отчета</button> *@
        @*----------------------------------------------------------------------------*@
        @* <button class="btn btn-primary" @onclick="TestJsFunction">Тест JS</button> *@

        @*----------------------------------------------------------------------------*@
        @* <button @onclick="GenerateAndStorePdf">Сохранить PDF в хранилище</button> *@
        @* <button @onclick="RetrieveAndPrintPdf">Напечатать PDF</button> *@
        @*----------------------------------------------------------------------------*@
        
        @*----------------------------------------------------------------------------*@
       @*  <div>
            <button class="btn btn-sm btn-danger" @onclick="DownloadReportAsync">Report -> EXEL</button>
        </div> *@
        @*----------------------------------------------------------------------------*@
            
        
    </div>
</div>


