@page "/Pages/QuickGridOne"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject GpriData gpridata
@inject NavigationManager navManager

<div class="container border border-dark">
    <h5>container</h5>
    <div class="row">

        @* 1 *@
        <div class="col">
            <div class="form-group row">
                <label for="DT" class="col col-form-label">Дата взвешивания</label>
                <div class="col">
                    <InputDate Type="InputDateType.Date" @bind-Value="@inDt" id="idDT" class="form-control" />
                    @* <ValidationMessage For="@(() => inDt)" /> *@
                </div>
            </div>
        </div>

        @* 2 *@
        <div class="col">
            <div class="form-group row">
                <label for="VR" class="col col-form-label">Время взвешивания</label>
                <div class="col">
                    <InputDate Type="InputDateType.Time" @bind-Value:format="hh:mm:ss" @bind-Value="@inVr" id="VR" step="1" class="form-control" />
                    @* <ValidationMessage For="@(() => inVr)" /> *@
                </div>
            </div>
        </div>

        @* 3 *@
        <div class="col">
            <div class="form-group row">
                <label for="NVAG" class="col col-form-label">Номер вагона</label>
                <div class="col">
                    <InputText @bind-Value="@inNvag" id="NVAG" class="form-control" />
                    @* <ValidationMessage For="@(() => inNvag)" /> *@
                </div>
            </div>
        </div>



        <button class="btn btn-primary" @onclick="GetByDtVr">Save input in db</button>

    </div>

    <div class="page-size-chooser">
        Items per page:
        <select @bind="@pagination.ItemsPerPage">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select>
    </div>

    @if (listVags == null)
    {
        <p>Loading . . . </p>
    }
    else
    {
        <div class="table-responsive">
            <div style="width:fit-content">
                <QuickGrid Items="listVags.AsQueryable()" Pagination="@pagination" class="styled-grid">
                    <PropertyColumn Property="f => f.DT" Format="yyyy-MM-dd" Title="Дата взв." /> @* class="col-dt"  *@
                    <PropertyColumn Property="f => f.VR" Title="Время взв." /> @* CssClass="colVR" *@
                    <PropertyColumn Property="f => f.NVAG" Title="Ном. вагона" /> @* CssClass="colNVAG" *@
                    <PropertyColumn Property="f => f.NDOK" Title="Ном. докум." /> @* CssClass="colNDOK" *@
                    <PropertyColumn Property="f => f.GRUZ" Title="Груз" /> @* CssClass="colGRUZ" *@
                    <PropertyColumn Property="f => f.BRUTTO" Title="Брутто" /> @* CssClass="colBRUTTO" *@
                    <PropertyColumn Property="f => f.TAR_BRS" Title="Тара брс." /> @* CssClass="colTAR_BRS" *@
                    <PropertyColumn Property="f => f.TAR_DOK" Title="Тара док." /> @* CssClass="colTAR_DOK" *@
                    <PropertyColumn Property="f => f.NETTO" Title="Нетто" /> @* CssClass="colNETTO" *@
                    <PropertyColumn Property="f => f.NET_DOK" Title="Мусор %" /> @* CssClass="colNET_DOK" *@
                    <PropertyColumn Property="f => f.MUSOR" Title="Цех" /> @* CssClass="colMUSOR" *@
                    <PropertyColumn Property="f => f.CEX" Title="Тариф" /> @* CssClass="colCEX" *@
                    <PropertyColumn Property="f => f.TARIF" Title="Потребитель" /> @* CssClass="colTARIF" *@
                    <PropertyColumn Property="f => f.POTR" Title="Плательщик" /> @* CssClass="colPOTR" *@
                    <PropertyColumn Property="f => f.PLAT" Title="Скорость" /> @* CssClass="colPLAT" *@
                    <PropertyColumn Property="f => f.SKOR" Title="Таб. ном." /> @* CssClass="colSKOR" *@
                    <PropertyColumn Property="f => f.VESY" Title="НПП" /> @* CssClass="colVESY" *@
                    <PropertyColumn Property="f => f.TN" Title="V13" /> @* CssClass="colTN" *@
                    <PropertyColumn Property="f => f.NPP" Title="V24" /> @* CssClass="colNPP" *@
                    <PropertyColumn Property="f => f.V13" Title="V12" /> @* CssClass="colV13" *@
                    <PropertyColumn Property="f => f.V24" Title="V34" /> @* CssClass="colV24" *@
                    <PropertyColumn Property="f => f.V12" Title="PP" /> @* CssClass="colV12" *@
                    <PropertyColumn Property="f => f.V34" Title="PR" /> @* CssClass="colV34" *@
                    <PropertyColumn Property="f => f.PP" Title="DELTA" /> @* CssClass="colPP" *@
                    <PropertyColumn Property="f => f.PR" Title="Код сап" /> @* CssClass="colPR" *@
                    <PropertyColumn Property="f => f.DELTA" Title="Ном. теплов." /> @* CssClass="colDELTA" *@
                    <PropertyColumn Property="f => f.N_TEPLOVOZ" Title="Реж. взвеш." /> @* CssClass="colN_TEPLOVOZ"  *@
                    <PropertyColumn Property="f => f.POGRESHNOST" Title="Платф. тара" /> @* CssClass="colPOGRESHNOST" *@
                    <PropertyColumn Property="f => f.REJVZVESH" Title="Платф. брутто" /> @* CssClass="colREJVZVESH" *@
                    <PropertyColumn Property="f => f.SHABLON" Title="Шаблон" /> @* CssClass="colSHABLON" *@
                </QuickGrid>
            </div>
        </div>
        <Paginator State="@pagination" />
    }
    <p>Bottom</p>

</div>

@code {
    private DateTime inDt = DateTime.Now;
    private DateTime inVr = DateTime.Now;
    private string inNvag = string.Empty;
    private string inGruz = string.Empty;
    private List<GpriModel> listVags = null;
    
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    private GpriModel vagon = new GpriModel();

    private async void GetByDtVr()
    {
        listVags = (List<GpriModel>)await gpridata.GetByDtVr(inDt.ToString("yyyy-MM-dd"), inVr.ToString("HH:mm:ss"), "10");
    }

}
