@page "/Pages/SampleData"
@using System.Globalization
@using System.ComponentModel.DataAnnotations
@* @using BosVesUI.Shared.Components *@
@inject GruzGdData gruzgddata
@inject GpriData gpridata
@inject NavigationManager navManager

<h3>SampleData</h3>

    <div class="container" style="background-color:aqua">
        <EditForm Model="vagon" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            
            @* первый блок начало *@
            @* 1 *@
            <div class="form-group row">
                <label for="DT" class="col-sm-2 col-form-label">Дата взвешивания</label>
                <div class="col-sm-2">
                    <InputDate Type="InputDateType.Date" @bind-Value="@vagon.DT" id="idDT" class="form-control" />
                    <ValidationMessage For="@(() => vagon.DT)" />
                </div>
            </div>

            @* 2 *@
           @*  <div class="form-group row">
                <label for="VR" class="col-sm-2 col-form-label">Время взвешивания</label>
                <div class="col-sm-2">
                  
                    <ValidationMessage For="@(() => vagon.VR)" />
                </div>
            </div> *@

            @* 3 *@
            <div class="form-group row">
                <label for="NVAG" class="col-sm-2 col-form-label">Номер вагона</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="@vagon.NVAG" id="NVAG" class="form-control" />
                    <ValidationMessage For="@(() => vagon.NVAG)" />
                </div>
            </div>

            @* 4 *@
            <div class="form-group row">
                <label for="NDOK" class="col-sm-2 col-form-label">Номер докум.</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.NDOK" id="NDOK" class="form-control" />
                    <ValidationMessage For="@(() => vagon.NDOK)" />
                </div>
            </div>
            
            @* 5 *@
            <div class="form-group row">
                <label for="GRUZ" class="col-sm-2 col-form-label">Груз</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="@vagon.GRUZ" id="GRUZ" class="form-control" />
                    <ValidationMessage For="@(() => vagon.GRUZ)" />
                </div>
            </div>

            @* 6 *@
            <div class="form-group row">
                <label for="BRUTTO" class="col-sm-2 col-form-label">Брутто</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.BRUTTO" id="BRUTTO" class="form-control" />
                    <ValidationMessage For="@(() => vagon.BRUTTO)" />
                </div>
            </div>

            @* 7 *@
            <div class="form-group row">
                <label for="TAR_BRS" class="col-sm-2 col-form-label">Тара брус</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.TAR_BRS" id="TAR_BRS" class="form-control" />
                    <ValidationMessage For="@(() => vagon.TAR_BRS)" />
                </div>
            </div>

            @* 8 *@
            <div class="form-group row">
                <label for="TAR_DOK" class="col-sm-2 col-form-label">Тара докум.</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.TAR_DOK" id="TAR_DOK" class="form-control" />
                    <ValidationMessage For="@(() => vagon.TAR_DOK)" />
                </div>
            </div>
            @* первый блок окончание *@

            @* второй блок начало *@
            @* 9 *@
            <div class="form-group row">
                <label for="NETTO" class="col-sm-2 col-form-label">Нетто</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.NETTO" id="NETTO" class="form-control" />
                    <ValidationMessage For="@(() => vagon.NETTO)" />
                </div>
            </div>
            
            @* 10 *@
            <div class="form-group row">
                <label for="NET_DOK" class="col-sm-2 col-form-label">Нетто докум.</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.NET_DOK" id="NET_DOK" class="form-control" />
                    <ValidationMessage For="@(() => vagon.NET_DOK)" />
                </div>
            </div>

            @* 11 *@
            <div class="form-group row">
                <label for="MUSOR" class="col-sm-2 col-form-label">Мусор</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.MUSOR" id="MUSOR" class="form-control" />
                    <ValidationMessage For="@(() => vagon.MUSOR)" />
                </div>
            </div>

            @* 12 *@
            <div class="form-group row">
                <label for="CEX" class="col-sm-2 col-form-label">Цех</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.CEX" id="CEX" class="form-control" />
                    <ValidationMessage For="@(() => vagon.CEX)" />
                </div>
            </div>

            @* 13 *@
            <div class="form-group row">
                <label for="TARIF" class="col-sm-2 col-form-label">Тариф</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="@vagon.TARIF" id="TARIF" class="form-control" />
                    <ValidationMessage For="@(() => vagon.TARIF)" />
                </div>
            </div>

            @* 14 *@
            <div class="form-group row">
                <label for="POTR" class="col-sm-2 col-form-label">Потребитель</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.POTR" id="POTR" class="form-control" />
                    <ValidationMessage For="@(() => vagon.POTR)" />
                </div>
            </div>

            @* 15 *@
            <div class="form-group row">
                <label for="PLAT" class="col-sm-2 col-form-label">Плательщик</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.PLAT" id="PLAT" class="form-control" />
                    <ValidationMessage For="@(() => vagon.PLAT)" />
                </div>
            </div>

            @* 16 *@
            <div class="form-group row">
                <label for="VESY" class="col-sm-2 col-form-label">Весы</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.VESY" id="VESY" class="form-control" />
                    <ValidationMessage For="@(() => vagon.VESY)" />
                </div>
            </div>
            @* второй блок окончание *@

            @* третий блок начало *@
            @* 17 *@
            <div class="form-group row">
                <label for="TN" class="col-sm-2 col-form-label">Таб.ном.</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.TN" id="TN" class="form-control" />
                    <ValidationMessage For="@(() => vagon.TN)" />
                </div>
            </div>

            @* 18 *@
            <div class="form-group row">
                <label for="NPP" class="col-sm-2 col-form-label">Номер в составе"</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.NPP" id="NPP" class="form-control" />
                    <ValidationMessage For="@(() => vagon.NPP)" />
                </div>
            </div>
            
            @* 19 *@
            <div class="form-group row">
                <label for="V13" class="col-sm-2 col-form-label">V13:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.V13" id="V13" class="form-control" />
                    <ValidationMessage For="@(() => vagon.V13)" />
                </div>
            </div>

            @* 20 *@
            <div class="form-group row">
                <label for="V24" class="col-sm-2 col-form-label">V24:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.V24" id="V24" class="form-control" />
                    <ValidationMessage For="@(() => vagon.V24)" />
                </div>
            </div>

            @* 21 *@
            <div class="form-group row">
                <label for="V12" class="col-sm-2 col-form-label">V12:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.V12" id="V12" class="form-control" />
                    <ValidationMessage For="@(() => vagon.V12)" />
                </div>
            </div>

            @* 22 *@
            <div class="form-group row">
                <label for="V34" class="col-sm-2 col-form-label">V34:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.V34" id="V34" class="form-control" />
                    <ValidationMessage For="@(() => vagon.V34)" />
                </div>
            </div>

            @* 23 *@
            <div class="form-group row">
                <label for="PP" class="col-sm-2 col-form-label">PP:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.PP" id="PP" class="form-control" />
                    <ValidationMessage For="@(() => vagon.PP)" />
                </div>
            </div>

            @* 24 *@
            <div class="form-group row">
                <label for="PR" class="col-sm-2 col-form-label">PR:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.PR" id="PR" class="form-control" />
                    <ValidationMessage For="@(() => vagon.PR)" />
                </div>
            </div>
            @* третий блок окончание *@

            @* четвёртый блок начало *@
            @* 25 *@
            <div class="form-group row">
                <label for="DELTA" class="col-sm-2 col-form-label">DELTA:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.DELTA" id="DELTA" class="form-control" />
                    <ValidationMessage For="@(() => vagon.DELTA)" />
                </div>
            </div>

            @* 27 *@
            <div class="form-group row">
                <label for="N_TEPLOVOZ" class="col-sm-2 col-form-label">N_TEPLOVOZ:</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.N_TEPLOVOZ" id="N_TEPLOVOZ" class="form-control" />
                    <ValidationMessage For="@(() => vagon.N_TEPLOVOZ)" />
                </div>
            </div>
            
            @* 28 *@
            <div class="form-group row">
                <label for="POGRESHNOST" class="col-sm-2 col-form-label">POGRESHNOST:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.POGRESHNOST" id="POGRESHNOST" class="form-control" />
                    <ValidationMessage For="@(() => vagon.POGRESHNOST)" />
                </div>
            </div>

            @* 29 *@
            <div class="form-group row">
                <label for="REJVZVESH" class="col-sm-2 col-form-label">REJVZVESH:</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.REJVZVESH" type="text" id="REJVZVESH" class="form-control" />
                    <ValidationMessage For="@(() => vagon.REJVZVESH)" />
                </div>
            </div>

            @* 30 *@
            <div class="form-group row">
                <label for="PLATFORMS_TARA" class="col-sm-2 col-form-label">PLATFORMS_TARA:</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.PLATFORMS_TARA" id="PLATFORMS_TARA" class="form-control" />
                    <ValidationMessage For="@(() => vagon.PLATFORMS_TARA)" />
                </div>
            </div>

            @* 31 *@
            <div class="form-group row">
                <label for="PLATFORMS_BRUTTO" class="col-sm-2 col-form-label">PLATFORMS_BRUTTO:</label>
                <div class="col-sm-2">
                    <InputText @bind-Value="vagon.PLATFORMS_BRUTTO" id="PLATFORMS_BRUTTO" class="form-control" />
                    <ValidationMessage For="@(() => vagon.PLATFORMS_BRUTTO)" />
                </div>
            </div>

            @* 32 *@
            <div class="form-group row">
                <label for="ID_PLATFORMS" class="col-sm-2 col-form-label">ID_PLATFORMS:</label>
                <div class="col-sm-2">
                    <InputNumber @bind-Value="vagon.ID_PLATFORMS" id="ID_PLATFORMS" class="form-control" />
                    <ValidationMessage For="@(() => vagon.ID_PLATFORMS)" />
                </div>
            </div>

        </EditForm>
    </div>

    <button class="btn btn-primary" @onclick="SaveToDb">Save input in db</button> @* Сохраняю введённые данные из инпутов в базу *@


@code {

    #region GruzGdModel fields
    private string inputGRUZIK;
    private string inputKOD_SAP;
    private string inputNAME_OZM;
    private string inputNAME_SAP;
    #endregion

    #region GpriModel fields
    private GpriModel vagon = new GpriModel();

    private void HandleValidSubmit()
    {
        // Handle the valid form submission
        //if (vagon.ModelState.isValid)
    }

    #endregion

    private async void SaveToDb()
    {
        await gpridata.InsNew(vagon);
    }

    #region GruzGdModel logic
    public List<GruzGdModel> gruzes { get; set; }

    private async void GetAllGruzes()
    {
        gruzes = (List<GruzGdModel>)await gruzgddata.GetAll();
    }

    private async void GetNameByPartName(string name)
    {
        gruzes = (List<GruzGdModel>)await gruzgddata.GetNameByPartName(name);
    }

    private void OnInputGruzic(ChangeEventArgs e)
    {
        inputGRUZIK = e.Value.ToString();
    }

    private void OnInputKodap(ChangeEventArgs e)
    {
        inputKOD_SAP = e.Value.ToString();
    }

    private void OnInputNameOzm(ChangeEventArgs e)
    {
        inputNAME_OZM = e.Value.ToString();
    }

    private void OnInputNameSap(ChangeEventArgs e)
    {
        inputNAME_SAP = e.Value.ToString();
    }

    private void ShowInputInConsole()
    {
        Console.WriteLine("| gr:" + inputGRUZIK + " | sap:" + inputKOD_SAP + " | ozm:" + inputNAME_OZM + " | namSap:" + inputNAME_SAP + " | ");
    }

    // private async void SaveToDb()
    // {
    //     await gruzgddata.InsNew(new GruzGdModel { GRUZIK = inputGRUZIK, KOD_SAP = inputKOD_SAP, NAME_OZM = inputNAME_OZM, NAME_SAP = inputNAME_SAP });
    // }

    // Клик по полю таблицы
    ElementReference inputTypeFileElement;

    public async void TrClickedAtIndex(GruzGdModel gruz)
    {
        //await gruzgddata.UpdGruz(gruz);
    }
    #endregion
}
