@page "/Pages/WeighterScope/Otvesnaya/PrihodOtvesnaya"
@inject NavigationManager navManager

<h3>"/Pages/WeighterScope/Otvesnaya/PrihodOtvesnaya"</h3>

<div class="row justify-content-center create-form">
    <div class="col-xl-8 col-lg-10 form-layout">

        <div class="close-button-section">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>

        @* 3 Поле выбора "Время" --------------------- begin test ios ------------------- *@
        <div class="ios-control-container-time">
            <div class="ios-control-group-time">
                <label class="ios-input-label-time">Время взвешивания</label>

                <div class="ios-switch-container">
                    <label class="ios-switch-time">
                        <input type="checkbox"
                               @bind-value="IsVrInputDisabled"
                               class="ios-switch-input-time" />
                        <span class="ios-switch-slider-time"></span>
                    </label>
                </div>
            </div>

            <div class="ios-time-input-container-time">
                <input type="time"
                       class="ios-time-input-time"
                       @bind="@InputTime"
                       disabled="@(!IsVrInputDisabled)"
                       step="1"
                       @bind:format="HH:mm:ss" />
            </div>
        </div>
        @* 3 Поле выбора "Время" --------------------- end   test ios ------------------- *@
        
        @*--------------------------------------------------------------------------*@
        <div class="ios-input-container-n">
            <div class="ios-input-group-n">
                <label class="ios-input-label-n" for="wagonNumber">Номер вагона</label>
                <input type="text"
                       id="wagonNumber"
                       class="ios-input-n"
                       placeholder="Введите номер" />
            </div>
        </div>
        @*--------------------------------------------------------------------------*@

        @* "Один поставщик - один потребитель" - дичь - 02.05.2025 -> здесь *@
        <div class="row">

            <div class="col mb-1 ios-control-container">
                <div class="ios-control-group">
                    <label class="ios-control-label">Один потребитель/поставщик</label>
                    <div class="ios-switch-container" role="switch" aria-checked="@IsPostavPotrebChecked" aria-label="Один потребитель/поставщик" @onclick="TogglePostavPotreb">
                        <label class="ios-switch">
                            <input type="checkbox"
                                   @bind-value="IsPostavPotrebChecked"
                                   class="ios-switch-input" />
                            <span class="ios-switch-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="ios-input-container">
                    <label class="ios-input-label" for="inlineFormInputGroupCex">ЦЕХ</label>
                    <input type="text"
                           class="ios-input"
                           id="inlineFormInputGroupCex"
                           Disabled="@true"
                           @bind="@InputCex" />
                </div>

                <div class="ios-input-container">
                    <label class="ios-input-label" for="inlineFormInputGroupPostav">Поставщик</label>
                    <input type="text"
                           class="ios-input"
                           id="inlineFormInputGroupPostav"
                           Disabled="@true"
                           @bind="@InputPostav" />
                </div>
            </div>

           
        </div>

    </div>
</div>

@code {
    private bool IsVrInputDisabled;
    private DateTime InputTime;

    private bool IsPostavPotrebChecked;
    private EventCallback PostavPotrebChange;
    private string InputCex;
    private string InputPostav;

    private void TogglePostavPotreb()
    {
        IsPostavPotrebChecked = !IsPostavPotrebChecked;
    }

    // гоогл
    // Эти свойства должны быть определены в вашем @code блоке
    // private bool IsVrInputDisabled { get; set; } = false; // Изначально переключатель выключен, ввод времени активен
    // private TimeSpan InputTime { get; set; } = DateTime.Now.TimeOfDay; // Пример начального значения


    #region ClosePage()
    private void ClosePage()
    {
        navManager.NavigateTo("", true);
    }
    #endregion
}
